.technology {
  padding: 100px 0;
  &__title {
    text-align: center;
  }


  &__subtitle {
    margin: 0;
  }
  &__item {
    padding: 40px 0;

    @include media($b-md) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    img {
      float: right;
      padding-left: 20px;

      @include media($b-xl) {
        max-width: 600px;
      }
      @include media($b-lg) {
        max-width: 450px;
      }
      @include media($b-md) {
        float: none;
        padding: 0;
        max-width: 100%;
      }
    }
  }
}

.left {
  img {
    float: left;
    padding-left: 0;
    padding-right: 20px;
  }
}
