$orange: #ff5912;
$grey: #34404b;
$dark-grey: #34404b;
$light-grey: #495662;
$font-lato: Lato, sans-serif;


$primary-color: $grey;
$active-color: $orange;
$text-color: $light-grey;
$title-text: $grey;
$active-element: $dark-grey;