@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');
@import "variables";
@import "v-grid";
@import "text";
@import "header";
@import "solution";
@import "technology";


.container {
  @include container(90%);


  @include media($b-xl) {

    object-fit: contain;
  }

}
.row {
  @include row;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
